<style>
  .chart {
    height: 300px;
    align-items: end;
  }

  .chart-element {
    height: 100%;
    max-width: 80px;
    padding-top: 10px;
    border-top: 1px solid white;

  }

  .chart-element-legend {
    font-size: 80%;
    position: relative;
    top: -30px;
    left: 2px;
    text-wrap: nowrap;
  }
</style>
<div class="block">{{date_range}}</div>
<div class="block">
  {{#if (gt (len expenses) 0)}}
  <div class="columns chart is-2 is-mobile">
    {{#each expenses}}
    <div class="column" style="height: {{height_ratio}}%">
      <div class="chart-element has-background-black-ter">
        <div class="chart-element-legend has-text-ter">
          {{category}}<br> <strong class="has-text-white-ter">{{normalizeAmount amount}} zl</strong>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="level">
    <div class="level-item">No data</div>
  </div>
  {{/if}}
</div>