{{#> base.hbs }}
{{#*inline "title"}}Expenses{{/inline}}
{{#*inline "body"}}
<div class="box" x-data>
  <div class="block">
    <h1 class="title">Expenses</h1>
    <h2 class="subtitle block">March</h2>
  </div>
  <div class="block" id="dateInputs">
    <div class="columns">
      <div class="column is-narrow">
        <div class="select">
          <select name="yearSelector">
            {{#each years}}
            <option value="{{this}}" {{#if (eq current_year this)}} selected {{/if}}>{{this}},{{current_year}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="select">
          <select name="monthSelector" @change="htmx.trigger('#view', 'customTrigger', {})">
            {{#each (range 1 12)}}
            <option value="{{this}}" {{#if (eq current_month this)}} selected {{/if}}>{{toMonthString this}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="view" class="block" hx-get="/api/expenses" hx-trigger="load customTrigger" hx-include="#dateInputs">
  </div>
</div>
{{/inline}}
{{/base.hbs}}